# Symfony
/docroot/vendor/
/docroot/var/
/docroot/config/oauth/*.key
/docroot/.env.local
/docroot/.env.local.php
/docroot/.env.*.local

# Node.js (pour build)
/node_modules/

# Éditeurs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db